<!-- <div class="main-container">
  <mat-card>
      <mat-tab-group mat-align-tabs="center">
        <mat-label>Choose a Golf Course</mat-label>
        <mat-select>
          <mat-option *ngFor='let course of courses' [value]='course.value'>
            {{course.value}}
          </mat-option>
        </mat-select>
      </mat-tab-group>
  </mat-card>
</div> -->
<h4>Choose a Golf Course</h4>
<mat-form-field appearance="fill">
  <mat-label>Golf Courses</mat-label>
        <mat-select>
          <mat-option *ngFor='let course of courses' [value]='course.value'>
            {{course.viewValue}}
          </mat-option>
        </mat-select>
</mat-form-field>
